.contact {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  align-items: center;
  width: 288px;
  justify-content: space-between;
}

.contactDeleteBtn {
  padding: 10px;
}

.contactInfotext {
  margin: 0;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
